//  ================ Menu =================
.ant-menu-horizontal {
  border: none;
}

.ant-menu-horizontal:not(.ant-menu-dark) {
  & > .ant-menu-item:hover,
  & > .ant-menu-submenu:hover,
  & > .ant-menu-item-active,
  & > .ant-menu-submenu-active,
  & > .ant-menu-item-open,
  & > .ant-menu-submenu-open,
  & > .ant-menu-item-selected,
  & > .ant-menu-submenu-selected {
    color: var(--themeColor);
    font-size: 16px;

    &:after {
      display: none;
    }
  }

  & > .ant-menu-item-selected,
  & > .ant-menu-item-selected:hover {
    font-size: 18px;
  }
}

//  ================ Table ================
.ant-table {
  background: transparent;
}

.table-background {
  background-color: transparent;
  color: #c4c6cb;
}

.ant-table-tbody > tr > td {
  border-bottom: none;
  color: #bcbec3;
  border-bottom: 1px dashed #242428;
  font-size: 16px;
}

.ant-table-thead > tr {
  > th {
    .table-background;
    font-size: 18px;
    border: none;

    .ant-table-column-sorter .ant-table-column-sorter-inner-full {
      margin-top: 0;
      margin-left: 0.5rem;
    }

    &.ant-table-column-has-actions.ant-table-column-has-sorters:hover {
      background-color: transparent;
    }

    &.ant-table-column-sort {
      .table-background;
      border-top-color: #66676b;
      .ant-empty {
        display: none;
      }
    }
  }
}

.ant-table-placeholder {
  opacity: 0;
}

.common-row {
  margin: 20px 0;
}

.ant-table-thead
  > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td,
.ant-table-tbody
  > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td,
.ant-table-thead > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td,
.ant-table-tbody > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td {
  background-color: #16409c;
  cursor: pointer;
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  padding: 16px 0;
  text-align: right;
  font-size: 24px;

  &:first-child {
    padding-left: 36px;
    text-align: left;
    font-size: 18px;
  }

  &:last-child {
    padding-right: 36px;
  }
}

.ant-table-thead > tr > th {
  font-size: 18px;
}

// ================ Select =================
.ant-select-single.ant-select-show-arrow .ant-select-selection-item,
.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
  font-size: 30px;
  font-weight: bold;
}

.ant-select-single.ant-select-open .ant-select-selection-item {
  color: rgba(0, 0, 0, 0.85);
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  box-shadow: none;
}

.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
  font-size: 16px;
}

//  ================ Button =================
.ant-btn {
  background: #51afc6;
  border-radius: 17.5px;
  color: white;
  font-size: 16px;
  width: 90.16px;
  height: 35px;
  box-shadow: none;
  border: none;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus,
  &:active {
    background: #51afc6;
    color: white;
  }
}

//  ================ Modal =================

.ant-modal {
  padding: 0 0 24px;

  .ant-modal-content {
    background-color: rgb(24, 28, 58);
    border-radius: 15px;

    .ant-modal-header {
      background-color: rgb(24, 28, 58);
      border-bottom-color: rgb(31, 41, 55);
      border-radius: 15px 15px 0 0;
      text-align: center;

      .ant-modal-title {
        color: white;
        font-size: 30px;
      }
    }

    .ant-modal-close {
      color: white;
    }
  }
}

//  ================ Dropdown =================

.ant-dropdown-menu {
  padding: 10px 5px;
  background-color: #303456;
  border: 1px solid #6e73af;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 48px;
  align-items: center;
  margin-top: 10px;
}

.ant-dropdown-menu-item:hover,
.ant-dropdown-menu-submenu-title:hover {
  background-color: #414986;
  padding: 5px 11px;
}

//  ================ Progress =================

.ant-progress-line {
  width: 260px;

  .ant-progress-outer {
    width: 220px;
  }

  .ant-progress-text {
    color: #c4c6cb;
    font-size: 16px;
    font-family: D-DINCondensed;
  }
}
