//  ================ Menu =================
.ant-menu-horizontal {
  border: none;
}

.ant-menu-horizontal:not(.ant-menu-dark) {
  & > .ant-menu-item:hover,
  & > .ant-menu-submenu:hover,
  & > .ant-menu-item-active,
  & > .ant-menu-submenu-active,
  & > .ant-menu-item-open,
  & > .ant-menu-submenu-open,
  & > .ant-menu-item-selected,
  & > .ant-menu-submenu-selected {
    color: var(--themeColor);
    font-size: 16px;

    &:after {
      display: none;
    }
  }

  & > .ant-menu-item-selected,
  & > .ant-menu-item-selected:hover {
    font-size: 18px;
  }
}

//  ================ Table ================
.ant-table {
  background: transparent;
}

.table-background {
  background-color: #303456;
  color: rgb(156, 163, 175);
}

.ant-table-tbody > tr > td {
  border-bottom: none;
  transition: background 0.1s;
  color: white;
  border-bottom: 1px dashed #46566f;
  font-size: 16px;

  &:first-child {
    border-left: 1px solid transparent;
    font-weight: bolder;
  }
}

.ant-table-thead > tr {
  > th {
    .table-background;
    font-size: 12px;

    .ant-table-column-sorter .ant-table-column-sorter-inner-full {
      margin-top: -0.65em;
    }

    &.ant-table-column-has-actions.ant-table-column-has-sorters:hover {
      .table-background;
    }

    &.ant-table-column-sort {
      .table-background;
      border-top-color: #66676b;
      .ant-empty {
        display: none;
      }
    }
  }
}

.ant-table-placeholder {
  opacity: 0;
}

// .ant-table-thead {
//   width: 100%;
//   display: flex;

//   & > tr {
//     flex: 1;
//     display: flex;
//     & > th {
//       background-color: transparent;
//       border-bottom: 0;
//       flex: 1;
//     }
//   }
// }

.common-row {
  margin: 20px 0;
}

.ant-table-thead
  > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td,
.ant-table-tbody
  > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td,
.ant-table-thead > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td,
.ant-table-tbody > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td {
  background-color: rgba(#32658f, 0.7);
  cursor: pointer;

  &:first-child {
    border-left-color: #eee;
  }
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  padding: 16px 0;

  &:first-child {
    padding-left: 16px;
  }
  &:last-child {
    padding-right: 16px;
  }
}

// .ant-table-row {
//   background: #f7f9fa;
//   box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.05);
//   border-radius: 22.5px;
//   margin: 16px 0;
//   min-height: 90px;
//   align-items: center;
//   font-size: 16px;
//   color: black;
// }

// ================ Select =================
.ant-select-single.ant-select-show-arrow .ant-select-selection-item,
.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
  font-size: 30px;
  font-weight: bold;
}

.ant-select-single.ant-select-open .ant-select-selection-item {
  color: rgba(0, 0, 0, 0.85);
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  box-shadow: none;
}

.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
  font-size: 16px;
}

//  ================ Button =================
.ant-btn {
  background: #51afc6;
  border-radius: 17.5px;
  color: white;
  font-size: 16px;
  width: 90.16px;
  height: 35px;
  box-shadow: none;
  border: none;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus,
  &:active {
    background: #51afc6;
    color: white;
  }
}

//  ================ Modal =================

.ant-modal {
  padding: 0 0 24px;

  .ant-modal-content {
    background-color: rgb(24, 28, 58);

    .ant-modal-header {
      background-color: rgb(24, 28, 58);
      border-bottom-color: rgb(31, 41, 55);
      border-radius: 15px 15px 0 0;

      .ant-modal-title {
        color: white;
      }
    }

    .ant-modal-close {
      color: white;
    }
  }
}

//  ================ Dropdown =================

.ant-dropdown-menu {
  padding: 10px 5px;
  background-color: #303456;
  border: 1px solid #6e73af;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 48px;
  align-items: center;
  margin-top: 10px;
}

.ant-dropdown-menu-item:hover,
.ant-dropdown-menu-submenu-title:hover {
  background-color: #414986;
  padding: 5px 11px;
}
