@font-face {
  font-family: 'D-DINCondensed';
  src: url('../font/D-DIN-Condensed.ttf.woff') format('woff');
}

@font-face {
  font-family: 'D-DINCondensed-bold';
  src: url('../font/D-DIN-Condensed-Bold.woff2') format('woff2');
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: D-DINCondensed;
  font-size: 24px;
  font-weight: 400px;

  --mainThemeColor: #efaf4e;
  --upColor: #4eefa4;

  background-color: #102651;

  #app {
    width: 100%;
  }

  .num {
    color: #c4c6cb;

    &.up {
      color: var(--upColor);
    }

    &.my {
      color: var(--mainThemeColor);
    }

    &.large {
      font-size: 36px;
    }

    &.blod {
      font-family: D-DINCondensed-bold;
    }
  }

  .benifit-btn {
    background-color: #16409c;
    width: 105px;
    height: 32px;
    font-size: 18px;
    line-height: 18px;
    border: 1px solid #16409c;
    border-radius: 16px;
    font-weight: 400;
    color: #c4c6cb;
    text-align: center;
    cursor: pointer;
    margin-left: 60px;
  }
}

.app-home {
  min-width: 100%;
  min-height: 100vh;
  height: 100%;
  background: url(../images/borrow/bg-top.png) center 0 / contain no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before,
  &::after {
    content: '';
    position: fixed;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    z-index: -1;
    background: url(../images/borrow/bg-bottom.png) center 0 / cover no-repeat;
    transform: rotate(180deg);
  }

  &::after {
    transform: rotate(0deg);
    top: initial;
    bottom: 0;
  }

  position: relative;

  .liuxing{
    position: absolute;
    width: 1630px;
    z-index: 0;
  }

  .app-container {
    width: 100%;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 20px;
    z-index: 2;
  }

  .app-header {
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 50px 0 0;

    .logo {
      width: 200px;
      font-size: 42px;
      font-weight: bold;
      color: #16409c;
      line-height: 1;
      font-weight: bolder;
      font-family: 'D-DINCondensed-bold';
    }

    .collect-box {
      display: flex;
      align-items: center;
      margin-left: auto;
      .account-btn {
        flex-shrink: 0;
      }

      .dropdown-placeholder {
        height: 100%;
      }
    }
  }

  .dashboard-box {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 13px;
    min-width: 100%;
    margin-top: 70px;
    align-items: flex-end;

    .line {
      display: flex;
      align-items: center;
      gap: 13px;
      width: 100%;
    }

    .my-info-box {
      width: 290px;
      height: 111px;
      background: #0d1019;
      border: 1px solid #16409c;
      border-radius: 5px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 40px;
      box-sizing: border-box;
      &.flex {
        flex: 1;
      }

      &.large {
        width: 510px;
      }

      .label {
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: #c4c6cb;
        line-height: 1;
        font-size: 18px;
        margin-right: auto;

        &.benifit {
          display: flex;
          align-items: center;
          &::before {
            content: '';
            width: 43px;
            height: 43px;
            display: block;
            background: url(../images/borrow/icon/benifit.png) center 0 / contain no-repeat;
            margin-right: 5px;
          }
        }
      }
    }

    .credit-balance {
      .label {
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex: 1;
      }

      .progress {
        display: flex;
        align-items: center;

        .title {
          flex-shrink: 0;
          margin-right: 10px;
        }
      }
    }
  }
}

.markets {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  gap: 10px;

  h2 {
    margin: 0;
    line-height: 1;
    margin-bottom: 30px;
    padding: 0 35px;
  }

  .coin {
    display: flex;
    align-items: center;
    .coin-icon {
      width: 34px;
      height: 34px;
      margin-right: 10px;
    }
  }

  .list {
    width: 50%;
    background-color: #303456;
    background: #0d1019;
    border: 1px solid #16409c;
    border-radius: 15px;
    padding: 45px 0;

    h2 {
      font-size: 30px;
      font-family: Source Han Sans CN;
      font-weight: 400;
      color: #ededed;
    }
  }
}

@media (max-width: 750px) {
  .app-home {
    padding-bottom: 20px;
    background: url(../images/borrow/bg-top.png) center 0 / 100% no-repeat;

    &::before,
    &::after {
      background: url(../images/borrow/bg-bottom.png) center 0 / 100% no-repeat;
    }

    .app-header {
      padding: 0 10px;
      .logo {
        font-size: 36px;
      }
    }

    .dashboard-box {
      margin-top: 50px;
      padding: 0 10px;
      gap: 0;

      .my-info-box {
        width: 100%;
        margin-bottom: 10px;
      }

      .line {
        flex-direction: column;
        gap: 0;
      }

      .credit-balance {
        .label {
          gap: 0;
          span {
            margin-bottom: 5px;
          }
        }
        .progress {
          flex-direction: column;
          align-items: flex-start;
        }
      }

      .ant-progress-line {
        width: 180px;
        .ant-progress-outer {
          width: 140px;
        }
      }
    }

    .markets {
      flex-direction: column;
      gap: 0;
      padding: 0 10px;
      .list {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }

  .ant-table-body {
    overflow-x: scroll;
  }

  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td {
    padding: 16px 10px;

    &:last-child {
      min-width: 120px;
      padding-right: 16px;
    }
  }
}
