.deposit-page {
  display: flex;
  gap: 30px;
  margin-top: 50px;

  :deep(.ant-tabs-bar) {
    margin: 0;
  }

  :deep(.ant-tabs.ant-tabs-card .ant-tabs-card-bar) {
    .ant-tabs-nav-container {
      font-size: 26px;
      line-height: 30px;
      color: #4b4d51;
      height: 60px;
    }
    .ant-tabs-tab {
      height: 60px;
      line-height: 60px;
      padding: 0 40px;
      align-items: center;
      border-radius: 10px 10px 0 0;
      margin-right: 10px;
    }
  }

  .tab-box {
    width: 510px;
  }

  .card-container {
    height: 460px;
    border: 1px solid #f0f0f0;
    border-top: none;
    padding: 0 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;

    .token {
      display: flex;
      border-bottom: 0.5px solid #9ca5b3;
      padding-bottom: 25px;
      width: 70%;
      display: flex;
      align-items: center;

      &.no-underline {
        border-bottom: none;
      }

      .token-select {
        width: 50%;
      }

      .apr {
        margin-left: auto;
      }

      .hint {
        font-size: 13px;
        line-height: 15px;
        color: #9ca5b3;
        flex: 1;
        padding-top: 20px;
        cursor: default;

        &:last-child {
          text-align: right;
        }
      }
    }

    .input-box,
    .amount {
      width: 100%;
      height: 65px;
      border-radius: 20px;
      font-size: 18px;
    }

    .amount {
      padding-right: 120px;
      padding-left: 20px;
    }

    .input-box {
      position: relative;
      margin-bottom: 35px;

      .input-box-btn {
        position: absolute;
        right: 15px;
        top: 10px;
        height: 44px;
        background: rgba(#9ca5b3, 0.2);
        border-radius: 50px;
        font-size: 18px;
        line-height: 21px;
        color: #4b4d51;
        text-align: center;

        &:active {
          left: initial;
        }
      }
    }

    .submit-btn {
      width: 250px;
      height: 56px;
      border-radius: 50px;
      margin-top: 30px;
      font-size: 18px;
    }
  }
}

.left {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
  border-radius: 26px;
  min-width: 560px;
  width: 560px;
}

.right {
  min-width: 300px;
  width: 300px;
  min-height: 500px;
  background: #ffffff;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
  border-radius: 26px;
  font-size: 13px;
  line-height: 15px;
  color: #9ca5b3;

  .item {
    margin: 10px 0;
    &.flex {
      margin: 20px 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .label {
        margin-right: auto;
      }

      span {
        color: #4b4d51;
      }
    }

    .amount-span {
      border: none;
      text-align: right;
      font-size: 18px;
      height: 60px;
      width: 70%;
      word-break: break-all;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}

:deep(.ant-select:not(.ant-select-customize-input) .ant-select-selector) {
  border: 0;
  outline: none;
}
