@media screen and (max-width: 1439px) and (min-width: 750px) {
  .home {
    .container {
      width: 83%;
    }
  }
}

@media screen and (max-width: 749px) {
  .footer-local-switch {
    display: none;
  }

  .home {
    padding-top: 10px;

    .container {
      .c2 {
        display: none;
      }

      header {
        width: 90%;
        margin: 0 auto;
        padding: 10px 20px;

        .header-local-switch {
          display: block;
        }

        .menu {
          .menu-item {
            display: none;

            &:nth-last-child(2) {
              display: flex;
              width: auto;
              padding: 0 20px;
            }
          }
        }
      }

      .banner {
        width: 90%;
        margin: 0 auto;
        padding: 50px 0 130px;

        .title {
          img {
            width: 100%;
          }
        }

        .desc {
          width: 100%;
        }
      }

      .money-market {
        min-height: 1390px;
        height: auto;
        margin: 0 auto;
        padding: 20px;
        width: 90%;

        .top {
          flex-direction: column;
          margin-bottom: 80px;

          .coin-list {
            width: 100%;

            .coin-list-item {
              width: 100%;
              margin-bottom: 10px;
              margin-left: 0;
              margin-right: 0;

              &:nth-child(2n) {
                margin-left: initial;
                margin-right: 0;
              }
            }

            .view-more {
              margin-top: 20px;
            }
          }

          .right-part {
            margin: 0;
            margin-bottom: 50px;
          }
        }
        .bottom {
          flex-direction: column;

          .card {
            width: 100%;
            max-width: none;
            height: auto;
            min-height: 360px;
            margin-bottom: 20px;
            padding: 15px;

            .title {
              font-size: 20px;
            }

            .desc {
              max-width: 290px;
              width: auto;
            }
          }
        }
      }

      .roadmap {
        width: 90%;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;

        .c1 {
          top: -30px;
          left: 215px;
          width: 65px;
        }
      }

      .security {
        min-height: 725px;
        height: auto;
        flex-direction: column;
        padding: 125px 20px;
        width: 90%;
        margin: 0 auto;
        align-items: center;

        .security-banner {
          width: 100%;
          max-width: 595px;
        }

        .right-part {
          margin-left: 0;
        }
      }

      .right-part {
        margin-top: 50px;
        margin-left: 0;
        padding: 0;

        h1 {
          img {
            width: 100%;
          }
        }
      }

      footer {
        width: 90%;
        margin: 0 auto;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 60px 20px;
        gap: 20px;

        .links {
          .media {
            width: 100%;
            max-width: 330px;
          }
        }
      }
    }
  }
}
